/.vscode
/113fri.html
/116mon.html
/117tuetextdecor.html
/118wednavig.css
/118wednavig.html
/213fri.html
/216mon.html
/217tueaddstyle.html
/313fri.html
/316mon.html
/317tuetablecre.html
/3box.html
/3drose.jpeg
/416mon.html
/417tuenaviga.css
/417tuenaviga.html
/516mon.css
/516monbox.html
/517tuenaviga.html
/517tuenavigation.css
/about.html
/ani.css
/ani.html
/backgr.css
/backgr.html
/ball.html
/bird.jpg
/bird.mp4
/box.css
/box.html
/boxhover.html
/cardflip.html
/circle.css
/circle.html
/company.jpeg
/contact.html
/demo.css
/demo.html
/Ellipse 4.png
/Ellipse 5.png
/flexbox.css
/flexbox.html
/flower.jpg
/fonts.css
/fonts.html
/form.css
/form.html
/gradient.html
/griditem.html
/hover.css
/hover.html
/Image.png
/index.html
/logo.png
/Mask.png
/media.html
/mlogo.jpeg
/p1.html
/Photo.png
/Photo2.png
/php.png
/project.css
/project.html
/q2.html
/q3.html
/q4.html
/q5.html
/q7.html
/q8.html
/q9.html
/rose.jpeg
/rot.html
/rotation.html
/skew.html
/style.css
/styles.css
/trans.html
/truncate.html